
        
        <div class="qqq"> 
       
         <a href="https://en.wikipedia.org/wiki/Shiva"> 1.GOD SIVAN DETAILS</a>
           <p>
               *. This is a good article. Follow the link for more information.
               Shiva
               <br>
                *. From Wikipedia, the free encyclopedia
               Jump to navigationJump to search
               This article is about the Hindu deity. For Jewish period of mourning, see<br> *. Shiva (Judaism). For other uses, see Shiva (disambiguation).
               Shiva
               Shiva cropped.jpg
               Statue of Shiva at Murudeshwar<br>
               *. Affiliation	Parabrahman (Shaivism), T
               Pinaka (bow)[2]The iconographical attributes of Shiv<br>*. a are the serpent around his neck, the adorning crescent moon, the holy river Ganga flowing from his matted hair, the third eye on his forehead, the trishula as his weapon and the damaru. He is usually worshipped in the aniconic form of Lingam.[2] Shi
           </p>
            <hr>
           <a href="http://doshidhrumit.blogspot.com/2018/01/lord-shiva-family.html>">2. GOD SIVA FAMILEY MEMBERS NAMES</a>
           <P>
               *.Lord Shiva the Enigmatic
               In the Hindu mythology, Lord Shiva is the Destroyer and the most importa<br> *.one in the Holy Trinity, the other two being Brahma the Creator and Vishnu the Protector.<br>*. Lord Shiva has always fascinated his followers by his unique appearance: he has not two but three eyes, has ash smeared all over his  <br>*.leads a w
               So, how was Lord Shiva born? 2/26
               2
               *.So, how was Lord Shiva born?
               There is a very interesting story behind the birth of Lord Shiva. One day, <br>*.Brahma and Vishnu were both arguing about which of them was more powerful and important. Right then amidst the heated discussion, an inexplicable blazing pillar appeared in front of them, whose root and tip were not to be seen.
               
               So, how was Lord Shiva born? 3/26<br>
               <hr>
               
               <a href="http://hindugodsongs.com/shiva/"> 3.GOD SIVAN AGE DETAILS</a>
            

           <p>
               1
               *.So, how was Lord Shiva born?
               The roots seemed to penetrate deep into the earth with the tip piercing into the skies beyond eternity. <br>*.Amazed by the view of this pillar, now both of them wondered which could be <br>*.this third entity that landed there instantly in a way challenging both of their supremacy. Now their arguments over their supremacy <br>*.subdued and they started wondering who this entity could be.
           </p> 
           <hr>

           <h3> select god name for the details:</h3><br>
              
                
            <select id="menu"> 

               <option value="" >Please Choose...</option>
               <option value="https://www.google.co.in/search?q=god+sivan+more+stores+with+tamil+text&rlz=1C5CHFA_enIN785IN785&oq=god+sivan&aqs=chrome.0.69i59j69i57j69i59l2j0l2.7438j0j4&sourceid=chrome&ie=UTF-8">god sivan</option>
               <option value="https://www.google.co.in/search?rlz=1C5CHFA_enIN785IN785&ei=rxgmW9_5NorpvgSHwL_4Cg&q=god+murugan&oq=god+murugan&gs_l=psy-ab.3..0i131i67k1j0i67k1l5j0i22i30k1l4.9427.13946.0.14714.18.13.0.0.0.0.179.1293.0j10.10.0....0...1.1.64.psy-ab..8.10.1292...0j0i13i30k1j0i22i10i30k1j0i131k1.0.VL6e3XG0UEE">god muruga</option>
               <option value="https://www.google.co.in/search?q=god+vinayager&rlz=1C5CHFA_enIN785IN785&oq=god+vinayager&aqs=chrome..69i57j0l5.29620j0j9&sourceid=chrome&ie=UTF-8">god vinayaga</option>
               </select>

               <button id="go" (click)="gotosite()">Go</button>



</div>