

.aaa{

    border: 30px  red;
    height:150px;
    width: 100%;
    background-color: thistle;
    text-align:center;
    font-size: 25px
}
.ooo{
    float: right;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px
  
}
.ss{
    
    font-size: 30px;  
    text-align: center;
    
    


    
} 
