
<div class="aaa">

        <header>
 


        
<div class="ss">
                <!-- <img src = "assets/logo.jpeg" > -->
                sankar private limited
</div>

        



        <div class="ooo"> 

        email<br>
                <a href="https://webmail.au.syrahost.com/login/">sign in</a>
                <a href="">or</a>
                <a href="https://service.mail.com/registration.html?edition=intlang=en#.1258-header-signup2-1"> sign up</a>
                <!-- <input type="text" value=" "> 
             
                password
                 <input type="password" value=""> 
                
                   <button (click)="onClick($event)" id="test">submit</button> -->
        
        </div>
               
             

         </header>
</div>
              

