

.ccc{

    border: 25px  red;

    height: 30px;

    font-size: 20px;

    background-color:sandybrown;

    width: 100%;

    text-align:center;

    padding-top: 25px;
    padding-bottom: 25px;
}





.pagination{


    /* padding: 20px */
}