

<div class="ccc">

        

        <footer>
         
      
                        <div class="pagination">

                                        <a href="">next page--></a>
                                        <a href="#">&laquo;</a>
                                        <a [routerLink]="['/content']">1</a>
                                        <a [routerLink]="['/content2']">2</a>
                                        <a [routerLink]="['/content3']">3</a>
                                        <a [routerLink]="['/content4']">4</a>
                                        <a [routerLink]="['/content5']">5</a>
                                        <a [routerLink]="['/content6']">6</a>
                                        <a [routerLink]="['/content7']">7</a>
                                        <a href="#">&raquo;</a>
                                      </div>
      
        </footer>
</div>
