
<div class="component2">
  
  <h1>this is a page 2</h1>
<br>
  <p>The Nun Jerónima de la Fuente (1620)
    The Nun Jerónima de la Fuente (1620)
    ... that The Nun Jerónima de la Fuente (pictured), one of Diego Velázquez's earliest portraits, was mistakenly attributed to Luis Tristán?
    ... that Virginia Fraser, the Long-Term Care Ombudsman for the state of Colorado, created a Bingo game that teaches nursing home residents about their rights?
    ... that the Organ Grinder Restaurant's Wurlitzer pipe organ included such effects as a submarine dive alarm?
    ... that Dutch Arabist Petra Stienen was awarded the Aletta Jacobs Prize by the University of Groningen for "using her work to represent and transmit the voices of women who would otherwise not be heard"?
    ... that the Royal Game of Ur is a board game that was first played in ancient Mesopotamia over 4,500 years ago?
    ... that Destiny Herndon-De La Rosa's feminist group New Wave Feminists was removed as a partner of the 2017 Women's March after organizers discovered the group was pro-life?
    ... that the tennis ball theorem concerns curves that, like the seam of a tennis ball, cut the surface of a sphere into two equal areas?
    ... that in 1869, Alfred Eteson of the Bengal Medical Service attributed an epidemic of ague to the effect of winds laden with a "pestiferous miasma"?</p>

    <h1>this is a page 2</h1>
    <br>
      <p>The Nun Jerónima de la Fuente (1620)
        The Nun Jerónima de la Fuente (1620)
        ... that The Nun Jerónima de la Fuente (pictured), one of Diego Velázquez's earliest portraits, was mistakenly attributed to Luis Tristán?
        ... that Virginia Fraser, the Long-Term Care Ombudsman for the state of Colorado, created a Bingo game that teaches nursing home residents about their rights?
        ... that the Organ Grinder Restaurant's Wurlitzer pipe organ included such effects as a submarine dive alarm?
        ... that Dutch Arabist Petra Stienen was awarded the Aletta Jacobs Prize by the University of Groningen for "using her work to represent and transmit the voices of women who would otherwise not be heard"?
        ... that the Royal Game of Ur is a board game that was first played in ancient Mesopotamia over 4,500 years ago?
        ... that Destiny Herndon-De La Rosa's feminist group New Wave Feminists was removed as a partner of the 2017 Women's March after organizers discovered the group was pro-life?
        ... that the tennis ball theorem concerns curves that, like the seam of a tennis ball, cut the surface of a sphere into two equal areas?
      
        ... that in 1869, Alfred Eteson of the Benga

        <h1>this is a page 2</h1>
<br>
  <p>The Nun Jerónima de la Fuente (1620)
    The Nun Jerónima de la Fuente (1620)
    ... that The Nun Jerónima de la Fuente (pictured), one of Diego Velázquez's earliest portraits, was mistakenly attributed to Luis Tristán?
    ... that Virginia Fraser, the Long-Term Care Ombudsman for the state of Colorado, created a Bingo game that teaches nursing home residents about their rights?
    ... that the Organ Grinder Restaurant's Wurlitzer pipe organ included such effects as a submarine dive alarm?
    ... that Dutch Arabist Petra Stienen was awarded the Aletta Jacobs Prize by the University of Groningen for "using her work to represent and transmit the voices of women who would otherwise not be heard"?
    ... that the Royal Game of Ur is a board game that was first played in ancient Mesopotamia over 4,500 years ago?
    ... that Destiny Herndon-De La Rosa's feminist group New Wave Feminists was removed as a partner of the 2017 Women's March after organizers discovered the group was pro-life?
    ... that the tennis ball theorem concerns curves that, like the seam of a tennis ball, cut the surface of a sphere into two equal areas?
    ... that in 1869, Alfred Eteson of the Benga
  </div>

